@import 'posts.css';

body {
    size: landscape;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*noinspection CssUnknownTarget*/
    background: #4c4c4c url('https://images8.alphacoders.com/973/973337.jpg') fixed no-repeat;
}

/* title */
h1 {

}

/* special: subtitle */
h6 {
    margin-top: -15px;
}

header {
    text-align: center;
}

main {
    margin-left: 25%;
    width: 50%;
}

.row {
    display: inline;
}

.pagination {
    text-align: center;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #959595;
    text-align: center;
    font-size: 10pt;
    color: #ffffff;
}
