@import 'posts.css';

body {
    size: landscape;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*noinspection CssUnknownTarget*/
    background: #4c4c4c url('https://images8.alphacoders.com/973/973337.jpg') fixed no-repeat;
}

/* title */
h1 {
    color: #71cbd7;
    margin-top: 0;
}

/* special: subtitle */
h6 {
    color: #71cbd7;
    margin-top: -15px;
}

header {
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.61);
}

main {
    margin-left: 25%;
    width: 50%;
}

.row {
    display: inline;
}

.pagination {
    text-align: center;
}

.submit-link {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #393939;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: rgb(239, 239, 239);
    box-sizing: border-box;
    margin: 0;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
}

footer {
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #959595;
    text-align: center;
    font-size: 10pt;
    color: #ffffff;
}
